/* style.css */
body {
  background-image: "OIP.jpg"
  font-family: 'Open Sans', sans-serif;
  background-color: #F2F3F4;
  color: #333;
  line-height: 1.5;
  margin: 0;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
}

/* Styles pour la barre de navigation */
nav {
  background-color: #00EBFE;
  height: 60px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

nav li {
  margin: 0 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 1px;
  padding: 10px;
  transition: background-color 0.3s ease;
}

ul {
	list-style-type: none
}
ul li {
	margin-left: 0;
}
